#form-input{

    padding: 10px 0
}
.form-group{
    padding: 15px 0;
   
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
