.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  header {
    position: fixed;
    width: 100%;
    height: 80px;
   background-color: black;
      top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 20px 0;
  
  }
  header .all{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .header{
    
     font-size: 20px;
     color: white;
  }
  header nav ul {
    display: flex;
    gap: 10px;
    text-align: center;
    list-style-type: none;
    justify-content: center;
  }
  header nav ul li a {
    text-decoration: none;
    font-size: 14px;
    padding: 10px 10px;
    font-family: "Roboto", "sans-serif";
    color: white;
    transition: color 0.4 ease-in-out;
  }
  header nav ul li a:hover {
    color: red;
  }
.loader {
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 5px solid black;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: none;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
   .form-group{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   form{
    display: flex;
    justify-content: center;
    align-items: center;
   }
